.day_date {
  width: 7%;
  float: left;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 2px 5px 0px;
  font-size: 4.5em;
  line-height: 55px;
  background: #104377;
  overflow: hidden;

  span {
      display: block;
      color: #8AC1F8;
      font-size: 0.25em;
      line-height: 16px;
      padding: 7px 0;
  }
}

.hour {
  color: #fffffd;
  width: 3.948% !important;
  float: left;
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0 !important;
  margin: 0px 0.22% 0px 0px !important;
  background-color: #104377;
}

.day_lights {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 5px !important;

  div {
    overflow: auto;
  }
}

.day_light {
  float: left;
  height: 15px;
  width: 99.812%;
  margin: 2px 0px 0px 0px !important;
  padding: 0px;
  text-align: center;
}